/* Hướng dẫn chèn ảnh(nền) :
     -Cách 1: Chèn ảnh(nền) trên mạng
        + Chọn một ảnh bạn muốn chèn trên trình duyệt
        + Click chuột phải -> Chọn sao chép địa chỉ ảnh
        + Dán địa chỉ ảnh vào /link/

     -Cách 2: Chèn ảnh(nền) có sẵn trên máy tính
        + Đưa file ảnh cần chèn vào thư mục background
        + Thực hiện cú pháp  url(' ../background/');
*/

/* Thực hành */


/* Chọn font cho trang */
html{
    font-family: sans-serif;
}


/* Thêm logo góc phải trang */
.logo{
    background-image: url('../background/Black-Red.jpg');
}


/* Điều chỉnh màu chữ cho tiêu đề trang */
header h1{
    color:rgb(248, 144, 144);
}


/* Điều chỉnh màu chữ cho các nút chuyển trang */
header nav a{
    color:rgb(248, 144, 144);
}


/* Chọn nền cho khung đầu trang*/
header{
    /* Có thể chọn nền đơn sắc hoặc chèn ảnh nền */
    background-color: rgb(0, 0, 0);
    background-image: url('/link/');
}


/* Chọn ảnh đại diện */
.avatar{
    background-image: url('/link/');
}


/* Chọn màu cho chữ bên trong khung */
.frame{
    color:rgb(255, 255, 255);
}


/* Chọn nền cho khung giới thiệu  */
.frame{
    /* Có thể chọn nền đơn sắc hoặc chèn ảnh nền */
    background-color: rgb(200, 92, 92);
    background-image: url('/link/');
}


/* Chọn nền cho main */
main{
    /* Có thể chọn nền đơn sắc hoặc chèn ảnh nền */
    background-color: rgb(255, 255, 255);
    background-image: url('/link/');
}

/* Kết thúc thực hành */
